<div class="work-experience">
  <h2>Work Experience</h2>
  <div class="experience-container">
    <div class="experience-item">
      <h3>Freelance Web Developer</h3>
      <div class="company-info">
        <span class="company">Self-Employed</span>
        <span class="date">2024 - Present</span>
      </div>
      <ul class="responsibilities">
        <li>Design and develop custom websites for various clients</li>
        <li>
          Collaborate directly with clients to understand requirements and
          deliver solutions
        </li>
        <li>
          Implement responsive and modern web designs using latest technologies
        </li>
        <li>Use of Squarespace and Wix to create websites</li>
        <li>
          Implement Google Adsense and Google Analytics to enhance website
          performance
        </li>
        <li>
          Implement SEO best practices to improve website visibility and
          rankings
        </li>
      </ul>
    </div>

    <div class="experience-item">
      <h3>Real Estate Virtual Assistant</h3>
      <div class="company-info">
        <span class="company">CyberBacker</span>
        <span class="date">2022 - 2024</span>
      </div>
      <ul class="responsibilities">
        <li>
          Managed email communications and calendar scheduling for real estate
          professionals
        </li>
        <li>
          Handled lead generation, data management and CRM system administration
        </li>
        <li>
          Created engaging social media content and managed multiple social
          platforms
        </li>
        <li>
          Designed graphics and marketing materials for real estate listings and
          promotions
        </li>
        <li>Created and managed websites for real estate agents</li>
        <li>
          Conducted market research and analysis to support sales and marketing
          strategies
        </li>
        <li>
          Assisted in the preparation of property listings and marketing
          materials
        </li>
        <li>
          Managed databases and CRM systems to ensure efficient data handling
        </li>
      </ul>
    </div>
  </div>
</div>
