<!-- Personal Info for CV -->
<div class="personal-info">
  <h2>Personal Information</h2>
  <div class="info-container">
    <div class="info-item">
      <i class="fas fa-user"></i>
      <span>Marcel Angelo Nuguid Navarro</span>
    </div>
    <div class="info-item">
      <i class="fas fa-envelope"></i>
      <span>marcelxangelo&#64;gmail.com</span>
    </div>
    <div class="info-item">
      <i class="fas fa-phone"></i>
      <span>+63 960 333 0028</span>
    </div>
    <div class="info-item">
      <i class="fas fa-map-marker-alt"></i>
      <span>Tarlac City, Tarlac, Philippines</span>
    </div>
    <div class="info-item">
      <i class="fab fa-linkedin"></i>
      <span
        ><a href="https://www.linkedin.com/in/marcelanghelo/" target="_blank"
          >linkedin.com/in/marcelanghelo</a
        ></span
      >
    </div>
    <div class="info-item">
      <i class="fab fa-github"></i>
      <span
        ><a href="https://github.com/navarroangelo" target="_blank"
          >github.com/navarroangelo</a
        ></span
      >
    </div>
  </div>
</div>
